<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/users.css">
    <title>new User</title>
</head>
<body>
    <h1>adding new user </h1>
    <form action="/users/new" method="post">
        <!-- <h2 name="id"> your unique id is :</h2> -->
        <input type="text" name="username" id="" placeholder="enter your username...">
        <br>
        <input type="email" name="email" id="" placeholder="enter your email-id">
        <br>
        <input type="password" name="password" id="" placeholder="enter your password">
        <br>
        <button>submit</button>
    </form>


</body>
</html>